# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
env/
venv/
ENV/
.venv/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log
*.out
*.err
logs/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.*
.venv

# IDE files
.vscode/
.idea/
*.swp

# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride

# Windows-specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Miscellaneous
*.bak
*.tmp
*.old
*.orig

# Local settings
*.local
